/* CSS */
.container {
  width: 500px;
  padding: 32px 0;
  margin: 40px auto;
  background-color: #d3d3d3;   /* Light gray */
  border: 4px solid #111;
  border-radius: 40px;
  text-align: center;
}

.green, .yellow, .red {
  display: inline-block;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  margin: 0 10px;
  vertical-align: middle;
}

.green {
  background-color: #008000;   /* Green */
}

.yellow {
  background-color: #ffff00;   /* Yellow */
}

.red {
  background-color: #ff0000;   /* Red */
}
